{% extends "base.html" %}
{% block title %}Operador - Armazem_Socem{% endblock %}
{% block content %}
<div class="container-fluid py-5 text-center bg-light min-vh-100">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="display-3 mb-5">👋 {{ session.user_nome }}
        </div>
        <p class="lead text-muted mb-5">Escolha operação:</p>

        <div class="row g-4">
            <div class="col-md-6">
                <a href="/mover_peca" class="btn btn-warning btn-lg w-100 p-5 shadow-lg h-100 d-flex flex-column align-items-center">
                    <i class="fas fa-boxes fa-4x mb-3"></i>
                    <h2>Mover Peças</h2>
                    <p class="mb-0"></p>
                </a>
            </div>


            <div class="col-md-6">
                <a href="/mover_molde" class="btn btn-success btn-lg w-100 p-5 shadow-lg h-100 d-flex flex-column align-items-center">
                    <i class="fas fa-cubes fa-4x mb-3"></i>
                    <h2>Mover Moldes</h2>
                    <p class="mb-0"></p>
                </a>
            </div>
          
        </div>

        <div class="mt-5">
            <a href="{{ url_for('logout') }}" class="btn btn-outline-secondary btn-lg px-4">
                <i class="fas fa-sign-out-alt me-2"></i>Sair
            </a>
        </div>
    </div>
</div>
</div>
{% endblock %}
